*,
*::after,
*::before {
  box-sizing: border-box;
  padding: none;
  margin: none;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times,
    serif;
}

button {
  border: none;
  background: none;
}

#formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 2 / 2 / 3;
  min-width: 210px;
}

#formDiv form {
  display: flex;
  flex-direction: column;
}

.weather-information-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  grid-area: 2 / 1 / 4 / 4;
}

.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #000
    url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
    no-repeat;
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
